.places__link {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
    font-family: 'Inter', 'Arial', sans-serif;
    text-align: left;
    max-width: 464px;
    min-width: 320px;
    text-decoration: underline;
}

@media screen and (max-width: 680px) {
    .places__link {
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
    }
}