.digits__title {
    display: flex;
    justify-content: left;
    color: #FFFFFF;
    max-width: 720px;
    min-height: 58px;
    font-weight: 900;
    font-style: normal;
    font-size: 54px;
    line-height: 58px;
    font-family: 'Inter', 'Arial', sans-serif;
    text-align: left;
    z-index: 3;
    max-width: 984px;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
}

@media screen and (max-width: 680px) {
    .digits__title {
        font-size: 32px;
        line-height: 35px;
    }
}