.places__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    padding-bottom: 48px;
}

@media screen and (max-width: 680px) {
    .places__links {
        max-width: 320px;
    }
}