.lead__caption {
    line-height: 14px;
    padding-top: 8px;
    font-family: 'Inter';
    text-align: left;
    font-size: 10px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
}