.cover__title {
    max-width: 560px;
    max-height: 152px;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    color: #FFFFFF;
    line-height: 76px;
    font-family: 'Inter';
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}