.places__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 984px;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    box-sizing: border-box;
}

.places__item:last-of-type {
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
}